@model BabaRh.Web.Models.ViewModel.NiveauVM

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer ce niveau ?</h3>
<div>

    <table class="table">
       
            <tr>
                <th>@Html.DisplayNameFor(model => model.NiveauLib)</th>
                
            </tr>
            <tr>
                <td>@Model.NiveauLib</td>
               
            </tr>        

    </table>




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default disabled" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
