@model BabaRh.Web.Models.ViewModel.NiveauVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Voulez-vous vraiment supprimer ce niveau ?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.NiveauLib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NiveauLib)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
