@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Contactez-nous</h3>

<h4>Adresse de nos locaux</h4>
<address>
    B.A BA RH Corporation<br />
    789, rue de Strasbourg<br />
    44000 Nantes<br />
    Tel: 02.40.41.42.43
</address>

<h4>Notre équipe</h4>
<div>
    <img src="~/Content/image1.jpg" />
    <img src="~/Content/image2.jpg" /><br />    
    Aurélie et Benjamin, consultants en recrutement et co-fondateurs de B.A BA RH depuis 2013
</div>
<br />
<address>
    <strong>Contact:</strong>   <a href="mailto:Contact@Babarh.com">Contact@babarh.com</a><br /> 
</address>