@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="maZoneDeTexe">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">B.A.BA RH</h1>
                <p class="lead">Cabinet de conseil en Recrutement</p>
            </div>
        </div>

        <h2>Notre métier ? Vous accompagnez</h2>

        <h3>Vous êtes un employeur à la recherche d'un nouveau talent ?</h3>
        <p class="TextSizeRedefine">
            Nos chasseurs de tête sont là pour vous trouver la perle rare !<br />
            Nous chercherons le <span class="MiseEnEvidence">Perfect Match</span> entre vos besoins,
            votre identité, et les compétences et la personnalité des candidats que nous vous présenterons.
            Pour cela, nous réalisons plusieurs entretiens approfondis avec les candidats sélectionnés
            puis nous validons leurs compétences par le biais d'un quiz. Nos quiz sont régulièrement
            mis à jour en fonction des nouveautés technologiques du marché.<span class="MiseEnEvidence">
                Nous faisons de la veille technologique une priorité pour anticiper votre demande.
            </span>
        <p>
            <h3>Vous êtes un candidat à la recherche d'une grande aventure professionnelle ?</h3>
        <p class="TextSizeRedefine">
            Nous nous assurons, avant toute collaboration avec une entreprise à la recherche d'un candidat,
            de son niveau de <span class="MiseEnEvidence">qualité de vie au travail</span>. Nous sommes certains
            qu'un employé épanoui est un employé investi et loyal. Les candidats que nous placons présentent un
            faible taux de turn-over dans leur entreprise. C'est pourquoi de nombreuses entreprises nous font
            confiance. Notre portefeuille de clients s'accroît de jour en jour. N'attendez plus,
            <span class="MiseEnEvidence">contactez-nous !</span>
            Nous avons sans aucun doute une offre faite pour vous.
        </p>
    </div>

    <div>
        <img class="candidatPicture" src="~/Content/Image/candidat1.jpg" />
    </div>

</div>
<style>
    .candidatPicture {
        top: 80px;
        position: fixed;
        right: 380px;
        display: flex;
    }

    .maZoneDeTexe {
        margin-top: 11px;
        text-align: center;
        justify-content: center;
        width: 43%;
    }

    .MiseEnEvidence {
        color: #318CE7;
        font-weight: bold;
    }

    .TextSizeRedefine {
        font-size: 15px;
    }
</style>