@model BabaRh.Web.Models.ViewModel.QuizzVM


@{
    ViewBag.Title = "Details";
}

@Html.Partial("_Info")

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@