@model BabaRh.Web.Models.ViewModel.ModuleVM

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer cette réponse ?</h3>
<div>

    <table class="table">

        <tr>
            <th>@Html.DisplayNameFor(model => model.ModuleLib)</th>

        </tr>
        <tr>
            <td>@Model.ModuleLib</td>

        </tr>

    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default disabled" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
